club_programmation/settings_security.py
db.sqlite3
/.tmp
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.*~
# Windows image file caches
Thumbs.db
ehthumbs.db
# Folder config file
Desktop.ini
# Recycle Bin used on file shares
$RECYCLE.BIN/
# Mac crap
.DS_Store

__pycache__